<p id="notice"><%= notice %></p>

<h1>Registrando pago</h1>
<br />
<%= link_to "Pagar $R 1", "https://www.mercadopago.com/mlb/checkout/start?pref_id=200941376-bac91b21-6bff-4c39-84fe-4f1c14948d54", role: 'button', :class => "butom", :'name' => 'MP-payButton', :'mp-mode' => 'dftl' %>
<br />
<%= link_to "Pagar $R 29.90", "https://www.mercadopago.com/mlb/checkout/start?pref_id=200941376-27931eb5-6679-4f2f-860d-d91cde73d791", role: 'button', :class => "butom", :'name' => 'MP-payButton', :'mp-mode' => 'dftl' %>
<script type="text/javascript">
(function(){function $MPC_load(){window.$MPC_loaded !== true && (function(){var s = document.createElement("script");s.type = "text/javascript";s.async = true;s.src = document.location.protocol+"//secure.mlstatic.com/mptools/render.js";var x = document.getElementsByTagName('script')[0];x.parentNode.insertBefore(s, x);window.$MPC_loaded = true;})();}window.$MPC_loaded !== true ? (window.attachEvent ?window.attachEvent('onload', $MPC_load) : window.addEventListener('load', $MPC_load, false)) : null;})();
</script>
<a mp-mode="dftl" href="https://www.mercadopago.com/mlb/checkout/start?pref_id=200941376-27931eb5-6679-4f2f-860d-d91cde73d791" name="MP-payButton" class='blue-ar-l-rn-none'>Pagar</a>
<hr />
<h1>Mis pagos avisados</h1>
<br />
<% if user_signed_in? %>
  <% if current_user.email == "ale@ale.cl" %>
  
        <% @todos_pagos.each do |pago| %>
        
          <p>Email usuario: <b><%= pago.user.email %></b></p>
          <p>Membresia: <b><%= pago.member.name %></b></p>
          <p>Fecha de aviso de pago por parte del usuario:</p>
          <p><b><%= pago.notice_date %></b></p>
          <p>Fecha de pago indicada por parte del usuario:</p>
          <p><b><%= pago.payment_date %></b></p>
          <p>Banco del usuario</p>
          <p><b><%= pago.banco.name %></b></p>
          <p>Tipo de cuenta</p>
          <p><b><%= pago.account.name %></b></p>
          <p>N° de Cuenta</p>
          <p><b><%= pago.account_number %></b></p>
          <% if not pago.image_url.nil? %>
          <%= link_to "Comprobante", "https://predioz.s3.amazonaws.com#{pago.image_url}"  %> 
          <% else %>
          <b>Sin comprobante</b>
          <% end %>
          <p>Estado del pago: 
            <% if pago.checked %>
            <b>Aceptado y validado</b>
            <% else %>
            <b>En revisión</b>
            </p>
            <% end %>
        
          <p>
            <%= link_to 'Ver', pago, role: 'button', class: 'btn btn-success btn-xs' %>
            <%= link_to 'Editar', edit_pago_path(pago), role: 'button', class: 'btn btn-success btn-xs' %>
            <%= link_to 'Eliminar', pago, method: :delete, data: { confirm: 'Está usted segur@?' }, role: 'button', class: 'btn btn-success btn-xs' %>
          </p>
          
          <hr />
          
        <% end %>
    
    <br>
    
    <%= link_to 'Ingresar Nuevo Pago', new_pago_path, role: 'button', class: 'navbar-fixed-bottom button button3 btn-block' %>
  
  
  <% else %>
        <% @pagos.each do |pago| %>

          <p>Membresia: <b><%= pago.member.name %></b></p>
          <p>Fecha de aviso de pago por parte del usuario:</p>
          <p><b><%= pago.notice_date %></b></p>
          <p>Estado del pago: 
          <% if pago.checked %>
          <b>Aceptado y validado</b>
          <% else %>
          <b>En revisión</b>
          </p>
          <% end %>
        
          <p>
            <%= link_to 'Ver', pago, role: 'button', class: 'btn btn-success btn-xs' %>
            <%= link_to 'Editar', edit_pago_path(pago), role: 'button', class: 'btn btn-success btn-xs' %>
            <%= link_to 'Eliminar', pago, method: :delete, data: { confirm: 'Está usted segur@?' }, role: 'button', class: 'btn btn-success btn-xs' %>
          </p>
          
          <hr />
          
        <% end %>
    
    <br>
    
    <%= link_to 'Avisar Nuevo Pago', new_pago_path, role: 'button', class: 'navbar-fixed-bottom button button3 btn-block' %>

  <% end %>
<% end %>
