<p id="notice"><%= notice %></p>

<h1>Listing Pagos</h1>

<% if user_signed_in? %>
  <% if current_user.email == "ale@ale.cl" %>
  
    <table>
      <thead>
        <tr>
          <th>User Email</th>
          <th>User Id</th>
          <th>Member</th>
          <th>Payment date</th>
          <th>Amount</th>
          <th>Message</th>
          <th>Checked</th>
          <th>Predio name</th>
          <th>Predio address</th>
          <th colspan="3"></th>
        </tr>
      </thead>
    
      <tbody>
        <% @todos_pagos.each do |pago| %>
          <tr>
            <td><%= pago.user.email %></td>
            <td><%= pago.user.id %></td>
            <td><%= pago.member.name %></td>
            <td><%= pago.payment_date %></td>
            <td><%= pago.amount %></td>
            <td><%= pago.message %></td>
            <td><%= pago.checked %></td>
            <td><%= pago.predio_name %></td>
            <td><%= pago.predio_address %></td>
            <td><%= link_to 'Show', pago %></td>
            <td><%= link_to 'Edit', edit_pago_path(pago) %></td>
            <td><%= link_to 'Destroy', pago, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    
    <br>
    
    <%= link_to 'New Pago', new_pago_path %>
  
  
  <% else %>

    <table>
      <thead>
        <tr>
          <th>Member</th>
          <th>Payment date</th>
          <th>Amount</th>
          <th>Message</th>
          <th>Checked</th>
          <th>Predio name</th>
          <th>Predio address</th>
          <th colspan="3"></th>
        </tr>
      </thead>
    
      <tbody>
        <% @pagos.each do |pago| %>
          <tr>
            <td><%= pago.member.name %></td>
            <td><%= pago.payment_date %></td>
            <td><%= pago.amount %></td>
            <td><%= pago.message %></td>
            <td><%= pago.checked %></td>
            <td><%= pago.predio_name %></td>
            <td><%= pago.predio_address %></td>
            <td><%= link_to 'Show', pago %></td>
            <td><%= link_to 'Edit', edit_pago_path(pago) %></td>
            <td><%= link_to 'Destroy', pago, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    
    <br>
    
    <%= link_to 'New Pago', new_pago_path %>

  <% end %>
<% end %>
