<p id="notice"><%= notice %></p>

<h1>Listing Alejandros</h1>

<table>
  <thead>
    <tr>
      <th>Email</th>
      <th>Payment</th>
      <th>Payment date</th>
      <th>Due date</th>
      <th>Message</th>
      <th>Member Id</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @alejandros.each do |alejandro| %>
      <tr>
        <td><%= alejandro.email %></td>
        <td><%= alejandro.payment %></td>
        <td><%= alejandro.payment_date %></td>
        <td><%= alejandro.due_date %></td>
        <td><%= alejandro.message %></td>
        <td><%= alejandro.member.name %></td>
        <td><%= link_to 'Show', alejandro %></td>
        <td><%= link_to 'Edit', edit_alejandro_path(alejandro) %></td>
        <td><%= link_to 'Destroy', alejandro, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Alejandro', new_alejandro_path %>
